- Import pandas and numpy and alias to short name

In [1]:
import pandas as pd

In [5]:
import numpy as np

- Selecte a date range starting with 20130101 and extending 2 additional dates. (Is there an option for an interval between dates, such as first day of week?)

In [22]:
dates = pd.date_range("20130101", periods=3)

- (Number 2) Set the sheet to be 3x3 with random value at default limits, set the rows to be labeled with defined dates, and set the column names to specific string values

In [32]:
df = pd.DataFrame(np.random.randn(3, 3), index=dates, columns=list(["Column 1","Column 2", "Column 3"]))

- (Number 3) Show the head of the datafame

In [29]:
df.head()

            Column 1  Column 2  Column 3
2013-01-01  0.555816 -0.870296 -2.039042
2013-01-02 -2.266691  2.412938  0.414379
2013-01-03 -0.154734  0.702201 -0.430705

- (Number 4) SHow the index of the dataframe

In [30]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03'], dtype='datetime64[ns]', freq='D')

- (Number 5) Show the first column

In [34]:
df["Column 1"]

2013-01-01    2.854163
2013-01-02   -1.967621
2013-01-03    0.079924
Freq: D, Name: Column 1, dtype: float64

- (Number 6) Select first row of dataframe (Several ways to do this. Is there a way not to show column headers?)

In [56]:
df[0:1]

            Column 1  Column 2  Column 3
2013-01-01  2.854163 -1.534592 -0.911633

- (Number 7) Write out the dataframe to a csv

In [57]:
df.to_csv("dpittma5_pandasChallenge.csv")

- (Number 8) Why are dynamic, interactive data visualizations useful when communicating data? --> Dynamic, interactive data visualizations are useful when communicating data because it allows the user to explore the data for themselves and manipulate the visual results in a way that is meaningful to them.